# Copier vers .env ou exporter ces variables avant de lancer le backend
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/b2b
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgrespw
JWT_SECRET=rsy7H/HfXyDxPTIDC66Xp8DFJToC2MOyopinKnh3L/sDUBObjaUVBqp/xA8Z+3qe
JWT_EXPIRATION_MS=86400000
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
